Django==5.2.16
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1
django-cors-headers==4.9.0
gunicorn==23.0.0
psycopg[binary]==3.3.4
python-dotenv==1.2.2
firebase-admin==7.5.0
google-auth==2.56.2
google-cloud-storage==3.13.0
