GOOGLE_CLOUD_PROJECT=project-77d13b0f-3be4-4791-a87
GOOGLE_CLOUD_LOCATION=global
AI_MODEL=gemini-2.5-flash
BACKEND_INTERNAL_URL=http://localhost:8000
AI_SERVICE_HOST=0.0.0.0
AI_SERVICE_PORT=18200
MCP_SERVER_HOST=0.0.0.0
MCP_SERVER_PORT=18201
MCP_SERVER_URL=http://localhost:18201
